.cleanInput{
    border-bottom: none !important;
    box-shadow: none !important;
    margin: auto !important;
}

.display-flex{
    display: flex;
}

.small-padding-sides{
    padding-left: 15px;
    padding-right: 15px;
}